* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1, h2 {
    cursor: pointer;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}    

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #0088a9;

}

button {
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover    {
    background-color: rgb(0, 136, 169, 0.8);
}

header{
    background-color: rgb(0, 0, 0, 0.2);
}

/* Editing background img  */
.homepage{
    background: url(Images/background.jpg);
    margin: o;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    background-repeat: no-repeat;
}

/* Styling heading 1 */
h1{
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Editing heading 2 */
h2{
    color: white;
    font-size: 26px;
} 


/* Aboutpage CSS */
.aboutpage{
    background-color: black;
    color: white;
}

/*What is Napaka Arts? */ 
.what{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);

} 
.about{
    background-color: rgba(0, 0, 0, 0.2);
    background: url(Images/Founder2.jpg) no-repeat;
    height: 100vh; 
    background-size: cover;
    background-position: center;

}

/* Details page css */
.details{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}

.details_background{
    background: url(Images/details_background.jpg);
    margin: o;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    background-repeat: no-repeat;
}